<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <!-- nav--->
       <div class="sidenav">
        <div class="logo">
            <img src="/images/coclogo.png" alt="Logo" style="width:150px;">

        </div>

        <div id="nav">
            <a href="/admin">
                <i class="fa fa-home" aria-hidden="true"></i>

                หน้าแรก
            </a>

            <li class="dropdown-btn"><i class="fa fa-book" aria-hidden="true"></i> คลังข้อสอบ
                <i class="fa fa-caret-down"></i>
            </li>
            <ul class="dropdown-container">
                <li>
                    <a href="/auth/ninecommon">
                        <i class="fa fa-file" aria-hidden="true"></i>
                        9 วิชาสามัญ
                    </a>
                </li>

                <li>
                    <a href="/auth/gatpat">
                        <i class="fa fa-file" aria-hidden="true"></i>
                        GAT/PAT
                    </a>
                </li>
                <li>
                    <a href="/auth/netsat">
                        <i class="fa fa-file" aria-hidden="true"></i>
                        NETSAT
                    </a>
                </li>

            </ul>


        </div>
    </div>
   
   <a href="/auth/logout" class="login_btn" style=" text-decoration:none"> Logout</a> 
</body>
</html>